@import url(https://fonts.googleapis.com/css?family=Roboto:400);
@import "libs";
@import "swiper";
@import "reset";
@import "vars";
$roboto: 'Roboto', sans-serif;
body {
    font-family: $roboto;
    font-size: 14px;
    background: #181818;
}

.logo__container {
		height: 16px;
}
#logo {
	width: 46px;
    height: 16px;
    fill: #fff;
}

/* MAIN MENU */
$button-size: 50px;
$menu-size: (240px, 640px); 
$padding: 15px;
$offsetX: nth($menu-size,1) - $button-size - $padding*2; 
$offsetY: nth($menu-size,2) - $button-size; 
$speed: 0.4s;
$tomato: #FF5722;
$gray: #262626;
$white: white;

.menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  // height: nth($menu-size,2);
  width: nth($menu-size,1);
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  
  * {
    backface-visibility: hidden;
  }
  
  #menuTrigger:checked ~ & {
  	pointer-events: auto;

    
    .link {
      transition-delay: $speed/2;
      @for $i from 0 to 5 {
        &:nth-child(#{$i + 1}) {
          transform: translate3d(0,0,0);
        }
      }
    }
  }
  
  .links {
    position: relative;
    z-index: 1;
    list-style: none;
    color: $white;
    margin: $button-size + $padding*3 0 0 0;
    padding: 0;
  }
  
  .link {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
    margin: 0;
    padding: 0;
    transition: transform $speed ease-in-out;

    &:last-child {
    	margin-bottom: 50vh;
    }

    
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        transform: translate3d(100%*$i,0,0);
      }
    }
    
    a {
      display: block;
      color: currentColor;
      padding: $padding;
      text-decoration: none;
    
      &:hover {
        background-color: rgba(white,0.1);
      }
    }
  }

  .menu__trigger {
    position: absolute;
    z-index: 0;
    top: $padding;
    right: $padding;
    height: $button-size;
    width: $button-size;
    border-radius: 100%;
    cursor: pointer;
    pointer-events: auto;
    transition: all $speed ease-in-out;
    transition-property: transform, box-shadow;
    
    transform: translate3d(0,0,0);

    box-shadow: 0 0 0 0px $gray;
    
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      // height: 100%;
      width: 100%;
      border-radius: 100%;
      overflow: hidden;
      transform: translate3d(0,0,0);
      transition: box-shadow $speed/2 $speed ease-in-out;
      box-shadow: 
        0 0 0 $button-size/2 $gray inset,
        0 0 0 $button-size/2 #000 inset;
    }

    
    #menuTrigger:checked ~ & {
      transform: translate3d(0,0,0);
      box-shadow: 0 0 0 nth($menu-size,2) $gray;

      &:before {
        transition-delay: 0s;
        box-shadow: 
          0 0 0 0 $gray inset,
          0 0 0 $button-size/2 $tomato inset;
      }  
      .line {
        &:nth-child(1) {
        transform: 
          translateY(0) 
          translate3d(-50%, -50%, 0);
        }
        &:nth-child(3) {
          transform: 
            translateY(0) 
            translate3d(-50%, -50%, 0);
        }
      }
    }
    
    .line {
      position: absolute;
      top: 50%;
      left: 50%;
      background: $white;
      height: 2px;
      width: $button-size/3;
      transform: translate3d(-50%, -50%, 0);
      transition: transform $speed ease-in-out;
      &:nth-child(1) {
        transform: 
          translateY(-5px) 
          translate3d(-50%, -50%, 0);
      }
      &:nth-child(3) {
        transform: 
          translateY(5px) 
          translate3d(-50%, -50%, 0);
      }
    }
  }
}

#menuTrigger {
  position: fixed;
  top: 0;
  right: -20px;
}
/* END OF MAIN MENU */

/*SWIPER*/
.swiper-container {
	position: relative;
    width: 100%;
    height: 333px;
    margin: 100px auto;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: hidden;   

 }


.swiper-slide {
    text-align: center;
    font-size: 18px;
    border: 1px solid white;
    width: 70%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

 .swiper-slide-active 
{
	width: 70%;
	position: relative;
}

.parallax-bg {
    position: absolute;
    width: 100vw;
    height: 100%;
   

    &:after {
    	color: rgba(255, 255, 255, 0.04);
    	content: 'front-end developer';
    	font-size: 108px;
    	text-transform: uppercase;
		position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
    }
}
.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
}
.swiper-slide .subtitle {
    font-size: 21px;
}

.swiper-pagination-bullets {
	width: 50% !important;
	

	background: url(../img/keyboard_arrow_left.svg) -1.3% 50%  no-repeat, 
	url(../img/pagination_dot.png) 0% 50% repeat-x,
	url(../img/keyboard_arrow_right.svg) 101.3% 50%  no-repeat,;
	
   	
}
.swiper-pagination-bullet {
	visibility: hidden;
}
.swiper-pagination-bullet-active {
	visibility: visible;
	position: relative;
	padding-top: 1px;
	line-height: 16px;
	vertical-align: middle;
	color: white;
	font-size: 12px;	
}

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #181818;
}

.pagindex-container {
	display: inline-block;
	width: 58px;
	background: #262626;
}
    

@import "media";
